.card {
  margin: 3em auto;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.appcontainer {
  display: flex;
  flex-direction: row;
}

.appheading {
  font-family: 'Times New Roman', Times, serif;
}

.appfooter {
  font-family: 'Times New Roman', Times, serif;
}

.applinks {
  font-family: 'Times New Roman', Times, serif;
}

.appcalender {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}

.appclock {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}
